
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(assets/destaque.jpg); 
    background-size: 1550px;
       background-color: rgba(255, 255, 255, 0.795);
    border-left-color: #f4f4f4;
    border-width: 90px;
   bor
}
header {
    background-color: rgba(71, 67, 67, 0.872);
    padding: 10px 0;
  
}

header .logo img {
    height: 50px;
    margin-left: 50px;
}

.box {
    position: absolute;
    
    left: 170px;
    width: 300px;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.612);
    /* espaçamento depois do conteudo */
    padding: 30px 30px;
    /* linha que fica após o padding */
    border-radius:10px;
     margin: 100px 50px;
}

.p1{
    font-family: Arial, sans-serif;
    font-size: 25px;
}
#acesso{
    font-size: 15px;

     height: 50px;
     left: 30px;
    width: 150px;
    background-color: crimson;
    color: white;
    border-color: crimson;
    border-radius: 20px;
}

.online{ 
    size: 60px;
    font-family: Arial, sans-serif;
    color: red;
}
.sticky{
    width: 30px;
    height: 80px;
    background-color: rgba(79, 79, 79, 0.868);
    position: sticky;
    left: 200px;
    top: 590px;
}

#logozap{
    size: 70px;
    width: 60px;
    position: relative;
    background-color: palegreen;
    margin-left:1200px;
    margin-right:0px;
    border-radius: 100%;
}
 .footer{
        background-color:blue;
        width: 70px;
        padding: 10px 0;
      
    }

   
 
